<div class="row">
    <div class="col-md-12">


        <!--Card-->
        <mdb-card cascade="true" narrower="true">

            <!--Card content-->
            <mdb-card-body class="text-center">
                <!--Title-->
                <h4 class="card-title font-bold mb-2"><strong>Alice Mayer</strong></h4>
                <h5 class="indigo-text"><strong>Photographer</strong></h5>

                <h6 class='text-justify'><strong>About:</strong></h6>
                <p class='text-justify'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione perferendis
                    quod animi dignissimos consectetur
                    quibusdam numquam laboriosam, minus, provident...</p>

                <div class="text-right">
                    <button type="button" mdbBtn outline="true" color="primary" rounded="true" size="sm" mdbWavesEffect>
                        More...
                    </button>
                </div>

            </mdb-card-body>
            <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->

    </div>
</div>
